<html lang="en">
  <head>
    <meta name="theme-color" content="#36393f" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="icon" type="image/png" href="/logo.png" />
    <title>Luna • Farm</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <meta name="title" content="Luna • The best goddess for your discord server" />

    <meta property="og:image" content="<%=domain%>/logo.png" />
    <meta
      property="og:title"
      content="Luna • The best goddess for your discord server"
    />
    <meta
      property="og:description"
      content="Learn Programming the easy way, without any resources!"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <noscript>
      <div class="noscript">
        To view the page please enable Javascript in your browser
      </div>
    </noscript>
    <script type="text/javascript">
      var preload = document.createElement('div')
      preload.className = 'loading-screen'
      preload.innerHTML =
        '<div class="lds-ring"><div></div><div></div><div></div><div></div></div>'
      document.body.appendChild(preload)
      window.addEventListener('load', function () {
        preload.className += ' fade'
      })
      setTimeout(function () {
        preload.style.display = 'none'
      }, 600)
    </script>
    <div id="logo" onclick="window.location.href='/'">
      <svg height="30" width="200">
        <text x="0" y="15" fill="white">Luna</text>
      </svg>
    </div>
    <div id="navbar">
      <a href="/" target="_blank">Home</a>
      <a href="/#features">Features</a>
      <a href="/discord" target="_blank">Discord</a>
    </div>
    <% if (user) { %>
    <div class="user-dropdown">
      <div id="login">
        <%= user.username %>
        <i class="fa fa-caret-down"></i>
        <div class="dropdown-content">
          <a href="/panel">Dashboard</a>
          <a href="/me">Settings</a>
          <a href="/logout" style="color: red">Logout</a>
        </div>
      </div>
    </div>
    <% } else { %><a id="login" href="/login">Login</a><% } %>
    <div id="lg">
      <div id="login-hamburger">
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/#features" class="nav-link">Features</a>
          </li>
          <li class="nav-item">
            <a href="/discord" class="nav-link">Discord</a>
          </li>
          <li class="nav-item">
            <a href="/status" class="nav-link">Status</a>
          </li>
          <li class="nav-item">
            <% if (user) { %>
            <div class="user-dropdown">
              <div>
                <a><%= user.username %></a>
                <i class="fa fa-caret-down"></i>
                <div class="dropdown-content">
                  <a href="/panel">Dashboard</a>
                  <a href="/me">Settings</a>
                  <a href="/logout" style="color: red">Logout</a>
                </div>
              </div>
            </div>
            <% } else { %><a id="user" href="/login">Login</a><% } %>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </div>

    <div class="center-div">
      <h2>Farming</h2>
      <p>
        By staying here your are farming coins but if you want support us in the bottom will appear a text box and if you want accept it.
      </p>
      <p>
        If you accept that text box without reading we are warning you you will mine small amount of a crypto coin that will support us for more visit <a href="https://gather.network/faq.html">Gather Network Faq</a>.
      </p>

      <% if(user) { %>
      <% cron.schedule('*/1 * * * *', function () { %>
        <% settings.economy.wallet = settings.economy.wallet + 10 %>
        <% settings.save() %>
        <script>
          Swal.fire('Saved', `Added to your wallet 10 moneys!`, 'success', 'close')
        </script>
      <% }); %>
      <% } %>
    </div>
    <div id="footer">
      <hr />
      <div id="left-footer">
        © 2022 Luna Development
      </div>
      <div id="right-footer">
        <a href="/contact">Contact</a
        ><a href="/discord" target="_blank">Discord</a
        ><a href="/panel" target="_blank">Dashboard</a
        ><a href="/farm" target="_blank">(New) Farm</a
        ><a href="/policy">Privacy Policy</a>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/script.js"></script>
    <script id="gather_config" type="text/javascript">
      window.Gather_SiteID = "acada0b3-8f56-409a-81fc-c09dac676282";
  </script>
  <script id="gather_script" src="https://online.gather.network/gather.app.js"></script>
  </body>
</html>
